<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion6" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSix">
                Dealer Summary
              </a>
            </div>
            <div
              id="collapseSix"
              class="collapse show"
              data-parent="#accordion6"
            ></div>
          </div>
        </div>

        <div id="accordion7" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSeven">
                <span class="fa fas fa-list-ul pr-2"></span>

                Order detail
              </a>
            </div>
            <div
              id="collapseSeven"
              class="collapse show"
              data-parent="#accordion7"
            >
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" *ngIf="loader">
                    <thead>
                      <tr>
                        <td class="loader-td" colspan="8">
                          <div
                            class="ph-item"
                            style="
                              padding: 0px 0px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-picture"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table
                    *ngIf="tableView"
                    class="table table-striped text-nowrap table-wrapper2 align-items-center mb-0"
                  >
                    <thead>
                      <tr>
                        <th class="thead-custom font-weight-bold">Qty</th>
                        <th class="thead-custom font-weight-bold">Atlas #</th>
                        <th class="thead-custom font-weight-bold">Vendor #</th>
                        <th class="thead-custom font-weight-bold">
                          Description
                        </th>
                        <th class="thead-custom font-weight-bold">
                          Special Price ($)
                        </th>
                        <th class="thead-custom font-weight-bold">Total ($)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="dataInbound">
                        <td>{{ cartData.qty }}</td>
                        <td>
                          <input
                            type="text"
                            class="edit-input"
                            [(ngModel)]="newQty"
                            placeholder="New Qty"
                          />
                        </td>
                        <td>
                          {{ cartData.atlas_id }}
                        </td>
                        <td>
                          {{ cartData.vendor }}
                        </td>
                        <td>
                          {{ cartData.description }}
                        </td>
                        <td>
                          {{ cartData.price }}
                        </td>
                        <td>
                          <input
                            type="text"
                            class="edit-input"
                            [(ngModel)]="newPrice"
                            placeholder="New Price"
                          />
                        </td>
                      </tr>
                      <tr *ngIf="noOrderFound">
                        <td colspan="7" class="text-center">No order listed</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <hr />
                <div *ngIf="dataInbound" class="btn-wrapper2">
                  <button (click)="savePriceOverride()">
                    <span *ngIf="!btnLoader">Save</span>

                    <div *ngIf="btnLoader">
                      <span class="spinner-border spinner-border-sm"></span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
