<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion6" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSix">
                Dealer Summary
              </a>
            </div>
            <div
              id="collapseSix"
              class="collapse show"
              data-parent="#accordion6"
            ></div>
          </div>
        </div>

        <div id="accordion7" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSeven">
                <span class="fa fas fa-list-ul pr-2"></span>

                Order detail
              </a>
            </div>
            <div
              id="collapseSeven"
              class="collapse show"
              data-parent="#accordion7"
            >
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" *ngIf="loader">
                    <thead>
                      <tr>
                        <td class="loader-td" colspan="8">
                          <div
                            class="ph-item"
                            style="
                              padding: 0px 0px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-picture"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div *ngFor="let item of dealerSummary">
                    <div class="">
                      <h5 class="top-title-table">{{ item.vendor_name }}</h5>
                    </div>
                    <div class="table-responsive">
                      <table class="">
                        <thead>
                          <tr>
                            <th class="thead-custom">Quantity</th>
                            <th class="thead-custom">Atlas #</th>
                            <th class="thead-custom">Vendor #</th>
                            <th class="thead-custom">Description</th>
                            <th class="thead-custom">Special Price ($)</th>
                            <th class="thead-custom">Total ($)</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr *ngFor="let data of item.data">
                            <td class="table-value-custom center-text">
                              {{ data.qty }}
                            </td>
                            <td class="table-value-custom center-text">
                              {{ data.atlas_id }}
                            </td>

                            <td class="table-value-custom center-text">
                              {{ data.vendor_product_code }}
                            </td>

                            <td class="table-value-custom center-text">
                              {{ data.description }}
                            </td>
                            <td class="table-value-custom right-align">
                              {{ data.unit_price | currency }}
                            </td>
                            <td class="table-value-custom right-align">
                              {{ data.price | currency }}
                            </td>
                          </tr>

                          <tr>
                            <td colspan="5">
                              <h5 class="each-total-cate-text" style="">
                                TOTAL FOR {{ item.vendor_name }}
                              </h5>
                            </td>
                            <td>
                              <h5 class="each-total-text" style="">
                                {{ item.total | currency }}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div
                    style="
                      width: 100%;
                      text-align: right;
                      border: 1px solid gray;
                      margin-top: 20px;
                    "
                  >
                    <h5
                      class="each-total-cate-text"
                      style="
                        display: inline-block;
                        border-right: 1px solid gray;
                      "
                    >
                      Grand Total ($):
                    </h5>
                    <h5
                      class="each-total-text"
                      style="display: inline-block; padding-right: 30px;"
                    >
                      {{ grandTotal | currency }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
