.section-header {
  color: #ffffff;
  background-color: #a8a8a8;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  background-color: #00547a !important;
}
.card-header {
  // background-color: #f6f6f6;
  // border-bottom: .2px solid #a8a8a8;
  font-size: 20px;
}
.header-search-ctn {
  button {
    background-color: #054e6e !important;
  }
}
.mat-sort-header-arrow{
  opacity: 0 !important;
}

.search-input {
  max-width: 230px;
}
.paginate {
  color: #054e6e;
}

.order-form-table {
  td,
  th {
    text-align: center;
    border: 0.1px solid #fff;
  }
  th {
    background-color: #054e6e;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
  }

  td {
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}
