.control-btn {
  margin-right: 10px;
  font-size: 13px;
  width: 200px;
}

.num-display {
  border-radius: 4px;
  border-left: 3px solid #4a0013;
}

.tbody-text-timer {
  font-weight: 700;
  font-size: 16px;
}

.table-wrapper2 {
  thead {
    background-color: #4a0013;
  }

  thead th {
    color: #ffffff !important;
    padding: 10px;
  }

  .td-trend {
    background-color: #4a0013;
    font-weight: 600;
    padding: 2px 4px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: block;
  }

  .td-sales {
    background-color: red;
    font-weight: 600;
    padding: 2px 4px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: block;
  }

  td {
    border-top: 1px solid #dee2e6;
    // color: #ffffff;
  }
}

.table-wrapper {
  background-color: #4a0013;

  thead th {
    color: #ffffff !important;
    padding: 10px;
  }

  td {
    border-top: 1px solid #dee2e6;
    color: #ffffff;

    .loggedin-text {
      display: block;
      text-align: center;
    }
  }
}

.card-link {
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding-left: 10px;
}

.loader-td {
  padding: 0px !important;
}

.ph-item {
  padding: 0px !important;
}

.ph-picture {
  height: 50px !important;
}

.thead-custom {
  font-weight: bold;
}

.recent-btn {
  background-color: darkblue;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
}

.tbody-text {
  font-size: 13px;
  font-weight: 600;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
}
.dashboard-link {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: black;
}
.view-all-btn {
  text-decoration: none !important;
  float: right;
  background-color: darkblue;
  color: #ffffff;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  padding: 3px 6px;
}

.extra-zero {
  display: inline-block;
  margin-right: -6px;
}

.activate-vendor-btn {
  background-color: green;
  color: #ffffff;
}

.deactivate-vendor-btn {
  background-color: darkred;
  color: #ffffff;
}

.vendor-btn {
  margin-bottom: 10px;
}

.vendor-btn:hover {
  background-color: #ffffff;
  border: 1px solid darkred;
  color: darkred;
}

.activate-dealer-btn {
  background-color: #1d7471;
  color: #ffffff;
}

.deactivate-dealer-btn {
  background-color: #1d7471;
  color: #ffffff;
}

.dealer-btn:hover {
  background-color: #ffffff;
  border: 1px solid #1d7471;
  color: #1d7471;
}

.activate-switch-btn {
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4a0013;
  margin-top: 10px;
  font-size: 13px;
}

.activate-switch-btn:hover {
  background-color: #ffffff;
  color: #4a0013;
  border: 1px solid #4a0013;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  button {
    margin-bottom: 10px;
  }
}
