.nav-layer-title {
  background-color: #a20029;
  color: #ffffff;
  padding: 10px;
  //     z-index: 1;
  // position: fixed;
  // top: 64px;

  position: fixed;
  top: 64px;
  z-index: 996;
}

.text-alert {
  font-weight: 700;
}

.title-text {
  margin-right: 20px;
  font-weight: 400;
}

.app-content {
  padding-top: 50px;
  padding-bottom: 150px;
}

.audio-tag {
  visibility: hidden;
}
