.audio-tag {
  visibility: hidden;
  /* position: static; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {

  -moz-appearance: textfield !important;
}
input[type="number"]::placeholder{
  text-align: center;

}
.border-thicker{
  border:5px solid brown !important;

}
.dealer-side::-webkit-scrollbar {
    width: 13px;
    
}

.app-content{
  padding-bottom: 150px;
}