<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion7" class="mb-3">
          <div class="card">
            <div class="card-header">Detail Dealer Summary</div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="select-filter w-100">
                <div class="select-wrapper">
               
                  <select
                    name=""
                    #selectToggle
                    id=""
                    aria-placeholder="select a dealer"
                    (change)="getDealerOrders(selectToggle.value)"
                  >
                    <option value="none">select a dealer</option>
                    <option [selected]="data.acccount_id !==selectedId"
                      value="{{ data.account_id }}"
                      *ngFor="let data of allVendor"
                    >
                      {{ data.dealer_name }}
                    </option>
                  </select>
                </div> <a
                      *ngIf="tableView && !noData"
                      class="btn btn-primary"
                      target="_blank"
                      [href]="
                        'https://atlas-eos-app-hvw34.ondigitalocean.app/generate-pdf/' +
                        selectedId +
                        '/en/' 
                         +
                        currenDateTime
                      "
                    >
                      <i class="fa fa-print mr-2"></i>
                      Print/Review
                    </a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <a
                    class="card-link"
                    data-toggle="collapse"
                    href="#collapseSeven"
                  >
                    <span class="fa fas fa-list-ul pr-2"></span>
                    Order Detail
                  </a>
                </div>
                <div
                  id="collapseSeven"
                  class="collapse show"
                  data-parent="#accordion7"
                >
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table" *ngIf="loader">
                            <thead>
                              <tr>
                                <td class="loader-td" colspan="8">
                                  <div
                                    class="ph-item"
                                    style="
                                      padding: 0px 0px;
                                      border: 0px;
                                      margin-bottom: 0px;
                                    "
                                  >
                                    <div>
                                      <div class="ph-picture"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of loaderData">
                                <td class="loader-td">
                                  <div
                                    class="ph-item"
                                    style="
                                      padding: 10px 10px;
                                      border: 0px;
                                      margin-bottom: 0px;
                                    "
                                  >
                                    <div>
                                      <div class="ph-row pt-2">
                                        <div
                                          class="ph-col-12 p-1 rounded"
                                        ></div>
                                        <div
                                          class="ph-col-12 p-1 rounded"
                                        ></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>

                                <td class="loader-td">
                                  <div
                                    class="ph-item"
                                    style="
                                      padding: 10px 10px;
                                      border: 0px;
                                      margin-bottom: 0px;
                                    "
                                  >
                                    <div>
                                      <div class="ph-row pt-2">
                                        <div
                                          class="ph-col-12 p-1 rounded"
                                        ></div>
                                        <div
                                          class="ph-col-12 p-1 rounded"
                                        ></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td class="loader-td">
                                  <div
                                    class="ph-item"
                                    style="
                                      padding: 10px 10px;
                                      border: 0px;
                                      margin-bottom: 0px;
                                    "
                                  >
                                    <div>
                                      <div class="ph-row pt-2">
                                        <div
                                          class="ph-col-12 p-1 rounded"
                                        ></div>
                                        <div
                                          class="ph-col-12 p-1 rounded"
                                        ></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div
                          class="table-responsive table-data-section"
                          *ngIf="tableView"
                        >
                          <div
                            *ngFor="let vendor of dealerData; let i = index"
                          >
                            <table
                              class="mat-elevation w-100 table table-striped table-bordered"
                            >
                              <thead>
                                <th colspan="6" class="text-start thicker-text">
                                  {{ vendor.vendor_name }}
                                </th>
                              </thead>
                              <thead>
                                <th>Qty</th>
                                <th>Atlas #</th>
                                <th>Vendor #</th>
                                <th>Description</th>
                                <th>Special Price ($)</th>
                                <th>Total ($)</th>
                              </thead>

                              <tbody>
                                <tr *ngFor="let order of vendor.data">
                                  <td>{{ order.qty }}</td>
                                  <td>{{ order.atlas_id }}</td>
                                  <td>{{ order.vendor_product_code }}</td>
                                  <td>{{ order.description }}</td>
                                  <td>{{ order.unit_price | currency }}</td>
                                  <td>{{ order.price | currency }}</td>
                                </tr>
                                <tr>
                                  <td colspan="5" class="text-end">
                                    <span
                                      class="thicker-text green-text text-end"
                                      >TOTAL FOR {{ vendor.vendor_name }}</span
                                    >
                                  </td>
                                  <td class="thicker-text green-text">
                                    {{ vendor.total | currency }}
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    colspan="6"
                                    *ngIf="i === incomingData.length - 1"
                                  ></td>
                                </tr>
                                <tr *ngIf="i === incomingData.length - 1">
                                  <td colspan="5" class="text-end">
                                    <span class="thicker-text text-end">
                                      GRAND TOTAL
                                    </span>
                                  </td>
                                  <td class="thicker-text">
                                    {{ showTotal | currency }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div
                          class="table-responsive table-data-section"
                          *ngIf="noData"
                        >
                          <div 
                          >
                            <table
                              class="mat-elevation w-100 table table-striped table-bordered"
                            >
                              <thead>
                             
                              </thead>
                              <thead>
                                <th>Qty</th>
                                <th>Atlas #</th>
                                <th>Vendor #</th>
                                <th>Description</th>
                                <th>Special Price ($)</th>
                                <th>Total ($)</th>
                              </thead>

                              <tbody>
                               
                                <tr>
                                  <td colspan="6" class="text-center">
                                   No order listed.
                                  </td>
                                 
                                </tr>
                           
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 pl-3" *ngIf="!noData">
              <div class="card bg-orange w-100 mb-4">
                <div class="row card-body">
                  <div
                    class="col-md-4 d-flex align-items-center justify-content-center"
                  >
                    <i class="fa fa-shopping-cart card-icon"></i>
                  </div>
                  <div class="col-md-8">
                    <h3 class="card-val">{{ completedOrders }}</h3>
                    <div class="underline-white my-3"></div>
                    <h4 class="card-title text-end">Completed Orders</h4>
                  </div>
                </div>
              </div>
              <div class="card bg-lilac w-100 mb-4">
                <div class="row card-body">
                  <div
                    class="col-md-4 d-flex align-items-center justify-content-center"
                  >
                    <i class="fa fa-shopping-cart card-icon"></i>
                  </div>
                  <div class="col-md-8">
                    <h3 class="card-val">{{ ordersRemaining }}</h3>
                    <div class="underline-white my-3"></div>
                    <h4 class="card-title text-end">Orders Remaining</h4>
                  </div>
                </div>
              </div>
              <div class="card bg-purple w-100 mb-4">
                <div class="row card-body">
                  <div
                    class="col-md-4 d-flex align-items-center justify-content-center"
                  >
                    <i class="fa fa-dollar card-icon"></i>
                  </div>
                  <div class="col-md-8">
                    <h3 class="card-val">{{ showTotal | currency }}</h3>
                    <div class="underline-white my-3"></div>
                    <h4 class="card-title text-end">Show Total</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
